<%= form_for @country, :html => {:multipart => true} do |c|%>
  <p>
    <%= c.label :name %>
    <%= c.text_field :name %>
  </p>

  <p>
    <%= c.label "Image " %>
    <%= c.cl_image_upload :image %>
  </p>

  <p>
    <%= c.submit "Save" %>
  </p>
<%end%>
