<%= form_for @region do |r|%>
<input type="hidden" name="region[country_id]" value="<%= @country_id %>">
  <p>
    <%= r.label :name %>
    <%= r.text_field :name %>
  </p>

  <%= r.submit %>
<%end%>
