<h1><%= @region.name %></h1>

<%= link_to "Delete Region", region_path(@region.id), method: :delete %>

<%= link_to "Edit Region", edit_region_path(region_id: @region.id) %>

<%= link_to "Add New Variety", new_variety_path(region_id: @region.id) %>

<h2>Varities:</h2>
<ul>
  <% @region.varieties.each do |rv| %>
    <li><%= link_to rv.name, wine_region_varieties_path(@region.id, rv.id) %></li>
  <%end%>
</ul>
