<h1><%= @region.name + ": " +  @variety.name %></h1>

<%= link_to "Add New Wine", new_wine_path(variety_id: @variety.id, region_id: @region.id) %>

<%= link_to "Delete Variety", variety_path(@variety.id), method: :delete %>

<%= link_to "Edit Variety", edit_variety_path(@variety.id, variety_id: @variety.id, region_id: @region.id) %>

<ul>
  <% @wines.each do |wine| %>
    <li><%= link_to wine.name, wine_path(wine.id) %></li>
  <%end%>
</ul>
